CONFIG_RISCV=y
CONFIG_TEXT_BASE=0x80600000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SF_DEFAULT_SPEED=30000000
CONFIG_SPL_DM_SPI=y
CONFIG_DEFAULT_DEVICE_TREE="sun300i-v821-avaota-f1"
CONFIG_SYS_MONITOR_LEN=4194304
CONFIG_SPL_MMC=y
CONFIG_SYS_LOAD_ADDR=0x80800000
CONFIG_BAUDRATE=115200
CONFIG_SPL=y
CONFIG_DEBUG_UART_BASE=0x42500000
CONFIG_DEBUG_UART_CLOCK=192000000
CONFIG_DEBUG_UART_BOARD_INIT=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_SPI=y
CONFIG_SPL_TEXT_BASE=0x02000060
CONFIG_TARGET_AVAOTA_F1=y
CONFIG_RISCV_SMODE=y
# CONFIG_SPL_CPU is not set
# CONFIG_SPL_SMP is not set
# CONFIG_AVAILABLE_HARTS is not set
CONFIG_FIT=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_HAS_LOAD_FIT_ADDRESS=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x80e00000
CONFIG_SPL_MAX_SIZE=0x11fa0
CONFIG_SPL_OPENSBI_LOAD_ADDR=0x80000000
CONFIG_SPL_OPENSBI_FDT_ADDR=0x80700000
CONFIG_SPL_OPENSBI_SCRATCH_OPTIONS=0x0
CONFIG_BOOTSTD_DEFAULTS=y
CONFIG_SYS_PBSIZE=1050
CONFIG_BOARD_LATE_INIT=y
CONFIG_SPL_PAD_TO=0x12000
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_SPL_SHA1 is not set
# CONFIG_SPL_SHA256 is not set
# CONFIG_SPL_CRC8 is not set
# CONFIG_SPL_SHARES_INIT_SP_ADDR is not set
CONFIG_SPL_DM_SPI_FLASH=y
CONFIG_SPL_SPI_LOAD=y
CONFIG_SYS_SPI_U_BOOT_OFFS=0x20000
CONFIG_SYS_PROMPT="avaota-f1 => "
# CONFIG_TOOLS_MKEFICAPSULE is not set
CONFIG_CMD_UFETCH=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_MTD=y
CONFIG_CMD_SPI=y
CONFIG_SPL_CLK=y
CONFIG_MMC=y
CONFIG_DM_MTD=y
CONFIG_SPI_FLASH_PUYA=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_PINCTRL=y
CONFIG_SPL_PINCTRL=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
CONFIG_SPI_SUNXI_SPIF=y
CONFIG_SYSRESET=y
CONFIG_TIMER_EARLY=y
